#navbar {
  position: fixed;
  width: 105%;
  text-align: left;
  background-color: #222;
  padding:10px;
  margin-bottom:-20px;
  left: 50%;
  transform: translateX(-48%);
  right: 0;
}

#navbar ul{
  
  list-style-type:0;
  text-decoration: none;
  position:fixed;
  
}
#navbar li{
  display: inline;
  color: #000;
  padding:15px;
  font-family: 'Rubik Mono One';font-size: 22px;
  
}
#navbar a{
  color: #FFF;
  text-decoration: none;
  hover: #ff145f;
}

#navbar a:hover{
  background-color: #ff145f;
  padding:10px 0px;
}
#info img:hover{
  outline:5px solid #ff145f;
  transition-property: width;
  transition-duration: 1s;
}

#info p{
  font-family: 'Rubik Mono One';font-size: 22px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
#info img{
  display: block;
  max-width:20%;
  margin-left: auto;
  margin-right: auto;
  border-color: #ff145f;
  outline:3px solid #ff145f;

}
#socialbar li{
  display: inline;
}
#socialbar{
  margin-left:43.5%;
}
#socialbar img{
  max-width:50px;
}

body{
  background-color: #000010;
  
} 



