#navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #111;
}

#navbar ul{
  list-style-type:0;
  text-decoration: none;
  position:fixed;
}
#navbar li{
  display: inline;
  color: #000;
}
